/* project styles */
#project-link {
    position: relative;
    top: -5px;
}

.project-container{
    margin: auto;
    max-width: 1000px;
    padding: 0 2rem;
    padding-bottom: 7.5rem;
    background-color: var(--white-palette-2)
}

.project-items-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: space-between;
}

.project {
    margin: 2.5rem auto;
    display: flex;
    flex-flow: column nowrap;
    /* border: 1px solid yellow; */
    text-align: center;
}

.project-description {
    padding-top: 2rem;
}

.visit-github {
    margin: 5rem auto;
}

.project-img {
    opacity: 0.4;
    border-radius: 50px;
    overflow: hidden;
    transition: 0.5s;
}

.project-img:hover {
    opacity: 1;
}