.intro-text {
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    left: -8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-style: italic;
}

.typewriter {
    text-align: center;
    font-size: 64px;
    overflow: hidden;
    border-right: .15em solid var(--canary);
    white-space: nowrap;
    margin: 0 1rem;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: var(--oxford-blue);
    }

    50% {
        border-color: orange;
    }
}



.landscape {
    display: none;
}

@media (max-width: 600px) {
    .typewriter {
        font-size: 45px;
        margin: 3rem auto;
    }

    .landscape {
        color: red;
        display: block;
    }
}