/* footer styles */
.footer-container {
    background: var(--lightgray-palette);
    border-top: 1px solid white;
    padding: 2rem;
    margin-top: 55px;
    text-align: center;
    color: white;
    font-size: 0.5rem;
    min-height: 75px;
}

.footer-container h1{
    font-weight: 200;
}

.footer-links {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 2rem;
    justify-content: center;
    align-items: center;
}

.footer-links a {
    font-size: 0.9rem;
    margin: 0 auto;
}