/* ------------- hero section -----------------*/
.hero-container {
    background-color: var(--darkdiscord-palette);
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height:80vh;
}

.hero-card{
    color: var(--white-palette);
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-items: space-around;
    align-items: center;
    text-align: center;
    border-radius: 2.5%;
}

.hero-card img {
    display: block;
    max-width: 200px;
    border-radius: 50%;
    margin: 1rem auto;
    border: 1rem var(--white-palette) solid;
}

.card-text{
    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: space-between;
    height: 45%;
    color: var(--white-palette) !important;
}

.card-text h4{
    font-size: 1.5rem;
}

#my-name {
    margin-bottom: 2rem;
    font-size: 4rem;
}


/* in order for media query to work you need to write it after the styles you will be changing */
@media screen and (max-width: 768px) {
    .hero-card {
        background-color: transparent;
    }
    .hero-card img{
        margin-bottom: 3rem;
    }
  }