.hero {
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    align-items: center;
}

.hero-text {
    display: flex;
    margin: 2rem;
    max-width: 320px;
    justify-content: space-evenly;
    align-items: space-evenly;
    flex-flow: column;
    height: 600px;
    text-align: center;
}

.hero-text > h1 {
    font-size: 120px;
    max-width: 500px;
    line-height: 95px;
    margin: 0;
}

.subtitle > h2,h4 {
    margin: 0;
}


.hero-img {
    background-position: center -175px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 650px;
    height: 550px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media screen and (max-width: 820px) {
    
   .hero-img {
        background-position: center;
        max-height: 450px;
   }

   .hero-text > h1 {
    font-size: 100px;
   }

   .hero {
    padding: 0;
   }
}