.skills-list {
    /* border: red solid 1px; */
    display: flex;
    margin: 0;
    align-items: center;
    flex-flow: row wrap;
}

.skill {
    position: relative;
    left: -1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
    max-height: 100px;
    max-width: 200px;
    border-radius: 5px;
    background-color: #005400;
    color: #fff;
    padding: 10px;
    transition: .5s;
    text-align: left;
}

.skill:hover {
    text-decoration: none;
    color: #005400;
    background: #fff;
    border: 8px solid #005400;
    padding: 5px;
}

.skill > img {
   margin: 5px 10px 5px 5px;
   width: 30px;
}

.skill-modal{
    position: fixed;
    top: 0;
    left:0%;
    display: none;
}

.skill-modal.active{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #005400;
    opacity: .95;
}

.modal-text {
    background-color: #fff;
    width: 50%;
    min-width: 300px;
    padding: 2rem;
    border-radius: 10px;
    opacity: 1;
    z-index: 200;
}

.modal-text>h2 {
    font-size: 80px;
    text-align: center;
    margin: 1rem;
}

.modal-text > p {
    font-size: 20px;
    text-align: center;
    margin: 2.5rem 0 3rem;
}


