.about {
  padding: 1rem 0;
  width: 100%;
  margin: auto;
}

.about-img

.about-text {
  margin: auto;
  width: clamp(300px, 80%, 900px);
  font-size: 1.2rem;
  text-align: justify;
}

.about-text > h1 {
  text-align: center;
  font-size: 90px;
  margin-bottom: .5rem;
  line-height: 80px;
}
