.timeline {
    text-align: center;
    overflow-y: scroll;
    margin: 2rem auto;
    min-width: 400px;
    height: 90%;
}

.experience-block{
    min-width: 400px;
    width: 80%;
    border: white solid 3px;
    margin: 2rem auto;
    text-align: center;
    padding: 1rem;
}

.experience-block-header {
    display: flex;
    flex-flow: column;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: solid 5px white;
}

.experience-block-header > h3 {
    margin: 0;
    padding: 0.5rem;
}