.timeline {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
}

.timeline > h1 {
    font-size: 90px;
    line-height: 85px;
    margin-bottom: 4rem;
    text-align: center;
}

.experience-block{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 70%;
    min-width: 320px;
    min-height: 500px;
    border-radius: 20px;
    border: #005400 solid 10px;
}

.experience-block-img {
    width: 38%;
    min-width: 320px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0 0;
    min-height: 250px;
}

.experience-block-text {
    width: 60%;
    min-width: 320px;
}

.experience-block-text > h2 {
    font-size: 60px;
    margin: 3rem 1rem 1rem;
    line-height: 52px;
}

.experience-block-text > h3 {
    font-size: 30px;
    margin: 0 1rem;
    padding: 1rem 0 0;
}

.description {
    margin: auto;
    font-size: 20px;
    max-width: 700px;
    padding: 1rem;
}

.description > li {
    margin: 1rem;
}

.line {
    margin: 0 auto;
    padding: 0;
    height: 60px;
    width: 10px;
    background-color: #005400;
}

.date {
    text-align: center;
    background-color: #005400;
    color: white;
    width: 80px;
    border-radius: 50%;
}

@media screen and (max-width: 820px) {

    .experience-block-text > h2 {
        font-size: 3rem;
        margin: 1.5rem 1rem .8rem ;
    }

    .experience-block-text > h3 {
        font-size: 1.5rem;
    }

    .description {
        font-size: 1.1rem;
    }

    .timeline > h1 {
        font-size: 60px;
        line-height: 58px;
        margin-bottom: 3rem;
    }

}
