.canvas {
  position: relative;
  background-color: var(--oxford-blue);
  height: 85%;
  max-width: 1000px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}