/* Global vars declaration */
:root {
  --font-family: "PP Neue Machina,serif";
  --canary: #feea00ff;
  --vivid-sky-blue: #2bd9feff;
  --oxford-blue: #000022ff;
  --paynes-gray: #5c7070ff;
  --ghost-white: #f0eff4ff;
}

.App {
  font-family: var(--font-family);
  margin: 0rem;
  padding: 1rem;
  background-color: var(--canary);
  color: var(--black-palette);
  font-size: 1.25rem;
}

body {
  margin: 0rem;
  padding: 0rem;
  background-color: var(--canary);
  overflow: hidden;
}

.titles {
  color: var(--canary);
}


.slider-content-container {
  color: azure;
  max-width: 95vw;
  height: 95vh;
  /* border: greenyellow 5px dotted; */
}

.centered {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}