@import url("./variables.css");
@import url("./components/Main/Main.css");
@import url("./components/Canvas/Canvas.css");
@import url("./components/Layers/Intro/Intro.css");

.App {
  font-family: var(--font-family);
  margin: 0rem;
  padding: 1rem;
  height: 96vh;
  background-color: var(--canary);
  color: var(--black-palette);
  font-size: 1.25rem;
}

body {
  margin: 0rem;
  padding: 0rem;
  background-color: var(--canary);
}

.titles {
  color: var(--canary);
}

h1, h2, h3, h4 {
  width: fit-content;
  margin: 0;
}

* {
  font-family: var(--font);
  font-weight: 100;
  color: aliceblue;
}