:root {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.5;
  font-weight: 400;
  --green: #005400;
  --blue: #141a5c;
  color: var(--blue);
}

body {
  margin: 0;
  padding: 0;
}

a {
  user-select: none;
  font-weight: 500;
  color: var(--blue);
  text-decoration: none;
  transition: all .3s ease-in;
  cursor: pointer;
}

a:hover {
  font-weight: 800;
  transition: .3s;
}

img {
  width: 100%;
  user-select: none;
}

li {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.lets-talk-button {
  border-radius: 5px;
  border: 3px solid var(--blue);
  background-color: transparent;
  color: var(--blue);
  margin: 0;
  min-width: 150px;
  padding: 10px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  transition: .3s;
}

.lets-talk-button:hover {
  background-color: var(--blue);
  color: #fff;
  text-decoration: none;
}

button {
  cursor: pointer;
}