:root {
  font-family: 'Hedvig Letters Serif', serif;
  line-height: 1.5;
  font-weight: 400;
  color: #005400;
}

body {
  margin: 0;
  padding: 0;
}

a {
  user-select: none;
  font-weight: 500;
  color: #005400;
  text-decoration: none;
  transition: .3s;
  cursor: pointer;
}

a:hover {
  font-weight: 800;
  text-decoration: underline;
}
img {
  width: 100%;
  user-select: none;
}

li {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.lets-talk-button {
  border-radius: 5px;
  border: 3px solid #005400;
  background-color: transparent;
  color: #005400;
  margin: 0;
  min-width: 150px;
  padding: 10px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  transition: .3s;
}

.lets-talk-button:hover {
  background-color: #005400;
  color: #fff;
  text-decoration: none;
}