/* Global vars declaration */
:root{
    --black-palette: rgb(30,33,36);
    --white-palette: rgb(255,255,255);
    --white-palette-2: rgb(239,239,239);
    --darkgray-palette: rgb(40,43,48);
    --gray-palette: rgb(54,57,62);
    --lightgray-palette: rgb(66,69,73);
    --discord-palette: 	rgb(89,106,234);
    --darkdiscord-palette: rgb(64,84,228);
    --font-family: 'Noto Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-family);
    margin:0;
    padding: 0;
    background-color: var(--black-palette);
    color: var(--black-palette);
    font-size: 1.25rem;
}

img{
    width: 100%;
}

.titles{
    text-align: center;
    padding: 5rem 0 1.5rem;
    margin: 0;
    font-size: 1.5rem;
    color: var(--darkdiscord-palette);
}

.white-bg-1{
    background-color: var(--white-palette);
}

.white-bg-2{
    background-color: var(--white-palette-2)
}

.visible {
    display: inherit;
}

.hidden {
    display: none;
}

.app{
    background-color: var(--darkdiscord-palette);
}

.no-bg{
    background-color: transparent;
}

a{
    padding: .8rem;
    text-decoration: none;
    color: var(--white-palette);
    transition: .5s;
    border-radius: 10%;
    font-weight: 400;
}

a:hover{
    text-decoration: underline;
}


/* --------------- popup styles ------------- */

.bg-opacity{
    position: fixed;
    background-color: rgba(0,0,0,.5);
    z-index: 900;
    width: 100%;
    height: 100%;
}

.active-popup {
    background-color: var(--darkgray-palette);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-flow: column nowrap;
    max-width: 500px;
    z-index: 1000;
    color: var(--white-palette);
    border-radius: 3%;
    text-align: center;
}

.active-popup figure{
    top: 10%;
    margin: auto auto 1rem;
    overflow: hidden;
    width: 100%;
}

.active-popup a{
    position: relative;
    padding: 1.5rem auto;
    bottom: 2rem;
    background-color: var(--white-palette);
    border-radius: 45%;
    margin: auto;
    width: fit-content;
    text-decoration: none;
    color: var(--black-palette);
    transition: .25s;
}

.active-popup a:hover{
    color: var(--white-palette);
    text-decoration: underline;
    background-color: var(--darkgray-palette);
}

/* ------------- navbar styles ------------ */
.navbar {
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--darkdiscord-palette);
    align-items: center;
    justify-content: space-between;
    height: 80px;
    color: var(--white-palette);
}

.website-title{
    margin: auto 2.5rem;
    font-size: 1.5rem;
    color: var(--white-palette);
}

.nav-links{
    margin: auto 2rem;
    animation: ease-in-out 0.5s;
}
/* ----------- BURGER STYLES --------- */
.burger-menu {
    background-color: var(--darkgray-palette);
    position: absolute;
    top: 10px;
    right: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 15%;
    overflow:hidden;
    display: none;
    z-index: 100;
}

.burger-icon{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--darkdiscord-palette);
    width: 100%;
    height: 100%;
    transition: .5s;
}

.clicked{
    background-color: var(--darkgray-palette);
    transform: translateX(.75rem);
}

.unclicked > .burger-line-1, .unclicked > .burger-line-2{
    transform: rotate(0) translateY(0em) translateX(0em);
    animation: ease-in-out 0.5s;
}

.clicked > .burger-line-1{
    transform: rotate(45deg) translateY(0.8em);
    animation: ease-in-out 0.5s;
}

.clicked > .burger-line-2 {
    transform: rotate(-45deg) translateY(-.8em);
    animation: ease-in-out 0.5s;
}

.burger-line-1, .burger-line-2{
    width: 80%;
    height: 10%;
    background-color: var(--white-palette);
    transition: .5s;
}

.menu-unclicked{
    width: 100%;
    position: absolute;
    display: flex;
    top: -18rem;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--discord-palette);
    z-index: 50;
    visibility: visible;
    transition: 0.5s;
}

.menu-clicked{
    width: 100%;
    position: absolute;
    display: flex;
    top: 0;
    padding: 1rem 0 1rem;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--black-palette);
    visibility: visible;
    transition: 0.5s;
    z-index: 50;
}

/* --------------- dropdown menu links ---------------*/
.navlinks a{
    display: none;
    text-align: center;
    display: block;
}

  /* hides menu when user switches to landscape */
  @media screen and (min-width: 768px) {
    .menu-clicked{
        display: none;
    }
}
  
/* ------------- hero section -----------------*/
.hero-container {
    background-color: var(--darkdiscord-palette);
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height:80vh;
}

.hero-card{
    color: var(--white-palette);
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-items: space-around;
    align-items: center;
    text-align: center;
    border-radius: 2.5%;
}

.hero-card img {
    display: block;
    max-width: 200px;
    border-radius: 50%;
    margin: 1rem auto;
    border: 1rem var(--white-palette) solid;
}

.card-text{
    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: space-between;
    height: 45%;
    color: var(--white-palette) !important;
}

.card-text h4{
    font-size: 1.5rem;
}

#my-name {
    margin-bottom: 2rem;
    font-size: 4rem;
}

/* ----------- about me styles --------------*/
#aboutme-link {
    position: relative;
    top: -5px;
    animation: ease-in-out .5s;
    background-color: var(--white-palette-2)
}

.aboutme-container {
    margin: auto;
    max-width: 1000px;
    padding-bottom: 7.5rem;
}

.about-text-container {
    margin: 2em auto;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

.about-text{
    margin: 2.5rem;
    max-width: 450px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

.about-img{
    max-width: 500px;
    max-height: 300px;
    overflow: hidden;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 13px 27px -5px #32325d40, 0 8px 16px -8px #0000004d, 0 -6px 16px -6px #00000008;
}

.about-img img{
    width: 100%;
}

.usf-img {
    max-width: 800px;
}

.reverse-flex{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row-reverse wrap;
}

/* Skills styles */

.skills-container{
    margin: auto;
    max-width: 1000px;
    padding: 0 2rem;
    padding-bottom: 7.5rem;
    background-color: var(--white-palette-1)
}

.skills{
    margin: 2rem;
}

.skills p{
    display: block;
}


.programming-languages {
    margin: .5rem auto 0;
    display: flex;
    max-width: 650px;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.skill-item {
    min-width: 100px;
    max-width: 200px;
    min-height: 100px;
    max-width: 200px;
    display: block;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0 13px 27px -5px #32325d40, 0 8px 16px -8px #0000004d, 0 -6px 16px -6px #00000008;
    transition: .5s;
}

.skill-item img{
    width: 100%;
}

.skill-item:hover {
    cursor: pointer;
}

.skill-popup {
    position: fixed;
    width: 80vw;
    height: 80vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 8px;
    box-shadow: 0 13px 27px -5px #32325d40, 0 8px 16px -8px #0000004d, 0 -6px 16px -6px #00000008;
    transition: .5s;
    z-index: 200;
}

.skill-popup-content{
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
}

.skill-popup-content h2, .skill-popup-content p, .skill-popup-content button{
    display: block;
}

.skill-popup-content h2 {
    color: var(--darkdiscord-palette);
}

/* project styles */
#project-link {
    position: relative;
    top: -5px;
}

.project-container{
    margin: auto;
    max-width: 1000px;
    padding: 0 2rem;
    padding-bottom: 7.5rem;
    background-color: var(--white-palette-2)
}

.project-items-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: space-between;
}

.project {
    margin: 2.5rem auto;
    display: flex;
    flex-flow: column nowrap;
    /* border: 1px solid yellow; */
    text-align: center;
}

.project-description {
    padding-top: 2rem;
}

.visit-github {
    margin: 5rem auto;
}

.project-img {
    opacity: 0.4;
    border-radius: 50px;
    overflow: hidden;
    transition: 0.5s;
}

.project-img:hover {
    opacity: 1;
}

/* ----------- contact me styles------------= */
#contactme-link {
    position: relative;
    top: -5px;
}

.contactme-container{
    padding: 0 2rem;
    background-color: var(--white-palette)
}

.card {
    border: #006747 2px solid;
    margin: 3rem auto;
    border-radius: 25px;
    min-height: 250px;
    max-width: 500px;
    background-color: #006747;
    overflow: hidden;
}

.top-card {
    display: flex;
    margin: 0;
    padding: 0;
}

.now{
    text-decoration: none;
    transition: 1s ease-out infinite;
}

.now:hover{
    transform: scale(10) rotate3d(270deg);
}

.pp {
    width: 100%;
    min-height: 200px;
    max-height: 225px;
    z-index: 10;
    overflow: hidden;
    object-fit: cover;
    border: red solid 1px;
}



.card-text {
    max-height: 225px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 0.5rem 0.5rem 0;
    margin: 0;
}

.white-usf-logo {
    width: 75%;
    min-width: 325px;
}

.card-name {
    margin: 0;
    background-color: #fff;
    padding: .5rem;
    height:50px;
    color: #006747 !important;
    font-size: 2.3rem;
    text-align: center;
}

/* footer styles */
.footer-container {
    background: var(--lightgray-palette);
    border-top: 1px solid white;
    padding: 2rem;
    margin-top: 55px;
    text-align: center;
    color: white;
    font-size: 0.5rem;
    min-height: 75px;
}

.footer-container h1{
    font-weight: 200;
}

.footer-links {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 2rem;
    justify-content: center;
    align-items: center;
}

.footer-links a {
    font-size: 0.9rem;
    margin: 0 auto;
}

/* in order for media query to work you need to write it after the styles you will be changing */
@media screen and (max-width: 768px) {
    
    .nav-links {
      display: none;
    }
    .burger-menu {
        display: block;
    }
    .hero-card {
        background-color: transparent;
    }
    .hero-card img{
        margin-bottom: 3rem;
    }
  }



  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 5px;
  }
  
  button {
    border: none;
    background-color: lightgray;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
  }