/* ----------- about me styles --------------*/
#aboutme-link {
    position: relative;
    top: -5px;
    animation: ease-in-out .5s;
    background-color: var(--white-palette-2)
}

.aboutme-container {
    margin: auto;
    max-width: 1000px;
    padding-bottom: 7.5rem;
}

.about-text-container {
    margin: 2em auto;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

.about-text{
    margin: 2.5rem;
    max-width: 450px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

.about-img{
    max-width: 500px;
    max-height: 300px;
    overflow: hidden;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 13px 27px -5px #32325d40, 0 8px 16px -8px #0000004d, 0 -6px 16px -6px #00000008;
}

.about-img img{
    width: 100%;
}

.usf-img {
    max-width: 800px;
}

.reverse-flex{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row-reverse wrap;
}