  /* main content */
  .swiper-container {
    margin: 2rem auto 0;
    position: relative;
    width: 80%;
    height: 80%;
    max-width: 1400px;
    border:"solid white 5px";
  }

  .swiper-slide {
    background-color: var(--oxford-blue);
    color: #FFF;
  }

  .swiper-pagination-bullet {
    border: solid azure 2px;
  }

  .swiper-pagination-bullet-active {
    background: azure;
  }

  .swiper-button-disabled,
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    color: azure;
    margin: 0.5rem;
  }

  .swiper-button-disabled::after,
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 3.5rem; 
  }

  .swiper-button-prev {
    top: 45%;
    left: -6.5%;
  }

  .swiper-button-next {
    right: -6.5%;
    top: 45%;
  }

  .swiper-pagination {
    margin: 1rem auto;
  }

  @media (max-width: 600px) {

    .swiper-button-disabled,
    .swiper-button-next,
    .swiper-button-prev {
      margin: 1rem;
      position: relative;
      bottom: 9rem;
      left: .5rem;
    }

    .swiper-container {
      max-width: 550px;
    }
  }